#disp{
    background-color: cadetblue; 
    text-align: center;
    
    }
    #search{
        background-color: dodgerblue;
    }
    #monday{
        background-color: lightskyblue;
    }
    
    #tuesday{
        background-color: lightskyblue;
    
    }
    #wednesday{
        background-color: lightskyblue;
    }
    
    #thursday{
        background-color: lightskyblue;
    }
    
    #friday{
        background-color: lightskyblue;
    }